[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
scikit-learn = "*"
pandas = "*"
gunicorn = "*"
peewee = "*"
"psycopg2" = "*"
Flask = "*"
category_encoders = "==1.2.6"
pytest = "*"
xgboost = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
